In [12]:
import pandas as pd
import numpy as np

In [9]:
temps_data = pd.read_csv("Environment_Temperature_change_E_All_Data_NOFLAG.csv")

In [10]:
temps_data.describe()

,Area Code,Months Code,Element Code,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
count,9656.000000,9656.000000,9656.00000,8287.000000,8322.000000,8294.000000,8252.000000,8281.000000,8364.000000,8347.000000,...,8435.000000,8437.000000,8350.000000,8427.000000,8377.000000,8361.000000,8348.000000,8366.000000,8349.000000,8365.000000
mean,821.806338,7009.882353,6674.50000,0.402433,0.315527,0.317393,0.269382,0.217839,0.376419,0.263239,...,0.884504,0.768488,0.788930,0.829647,0.913872,1.018816,1.081491,1.003342,1.010832,1.094599
std,1781.072213,6.038255,596.53089,0.701567,0.713777,0.853133,0.749216,0.739418,0.737370,0.725421,...,0.878303,0.750631,0.858586,0.713753,0.815933,0.840189,0.877399,0.809800,0.872199,0.853953
min,1.000000,7001.000000,6078.00000,-4.018000,-5.391000,-8.483000,-7.309000,-4.728000,-8.147000,-6.531000,...,-6.072000,-4.854000,-5.785000,-3.642000,-5.367000,-4.068000,-3.306000,-3.584000,-2.216000,-2.644000
25%,78.000000,7005.000000,6078.00000,0.057000,-0.033000,0.030250,-0.102500,-0.214000,0.055000,-0.169000,...,0.392000,0.365000,0.372250,0.408500,0.418000,0.437000,0.457000,0.443000,0.434000,0.455000
50%,153.500000,7009.000000,6674.50000,0.366000,0.333000,0.355000,0.326000,0.303000,0.360000,0.313000,...,0.771000,0.640000,0.651000,0.719000,0.745000,0.858000,0.949000,0.865000,0.810000,0.939000
75%,226.250000,7016.000000,7271.00000,0.676500,0.627000,0.647750,0.609000,0.584000,0.660250,0.601000,...,1.276500,1.091000,1.108000,1.126000,1.190000,1.389000,1.496000,1.364750,1.341000,1.508000
max,5873.000000,7020.000000,7271.00000,5.771000,4.373000,4.666000,5.233000,5.144000,5.771000,4.768000,...,7.190000,6.531000,10.826000,6.738000,11.759000,7.590000,10.478000,7.389000,9.228000,7.215000

In [11]:
temps_data

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,ï¿½C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,ï¿½C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,ï¿½C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,ï¿½C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,ï¿½C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9651,5873,OECD,7018,Junï¿½Julï¿½Aug,6078,Standard Deviation,ï¿½C,0.247,0.247,0.247,...,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247
9652,5873,OECD,7019,Sepï¿½Octï¿½Nov,7271,Temperature change,ï¿½C,0.036,0.461,0.665,...,0.958,1.106,0.885,1.041,0.999,1.670,1.535,1.194,0.581,1.233
9653,5873,OECD,7019,Sepï¿½Octï¿½Nov,6078,Standard Deviation,ï¿½C,0.378,0.378,0.378,...,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378
9654,5873,OECD,7020,Meteorological year,7271,Temperature change,ï¿½C,0.165,-0.009,0.134,...,1.246,0.805,1.274,0.991,0.811,1.282,1.850,1.349,1.088,1.297
9655,5873,OECD,7020,Meteorological year,6078,Standard Deviation,ï¿½C,0.260,0.260,0.260,...,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260

In [13]:
print(temps_data.head())

   Area Code         Area  Months Code    Months  Element Code  \
0          2  Afghanistan         7001   January          7271
1          2  Afghanistan         7001   January          6078
2          2  Afghanistan         7002  February          7271
3          2  Afghanistan         7002  February          6078
4          2  Afghanistan         7003     March          7271

              Element Unit  Y1961  Y1962  Y1963  ...  Y2010  Y2011  Y2012  \
0  Temperature change   ï¿½C  0.777  0.062  2.744  ...  3.601  1.179 -0.583
1  Standard Deviation   ï¿½C  1.950  1.950  1.950  ...  1.950  1.950  1.950
2  Temperature change   ï¿½C -1.743  2.465  3.919  ...  1.212  0.321 -3.201
3  Standard Deviation   ï¿½C  2.597  2.597  2.597  ...  2.597  2.597  2.597
4  Temperature change   ï¿½C  0.516  1.336  0.403  ...  3.390  0.748 -0.527

   Y2013  Y2014  Y2015  Y2016  Y2017  Y2018  Y2019
0  1.233  1.755  1.943  3.416  1.201  1.996  2.951
1  1.950  1.950  1.950  1.950  1.950  1.950  1.950
2  1.494 -3.187  2.699  2.251 -0.323  2.705  0.086
3  2.597  2.597  2.597  2.597  2.597  2.597  2.597
4  2.246 -0.076 -0.497  2.296  0.834  4.418  0.234

[5 rows x 66 columns]

In [15]:
print(temps_data.shape)

(9656, 66)

In [18]:
missing_values_count = temps_data.isnull().sum()
print(missing_values_count[0:66])

Area Code          0
Area               0
Months Code        0
Months             0
Element Code       0
                ...
Y2015           1295
Y2016           1308
Y2017           1290
Y2018           1307
Y2019           1291
Length: 66, dtype: int64

In [20]:
temps_data_dropped = temps_data.dropna()
print(temps_data.shape, temps_data_dropped.shape)

(9656, 66) (6760, 66)

In [21]:
temps_data_filled = temps_data.fillna(method='bfill', axis=0).fillna(0)
print(temps_data_filled)

      Area Code         Area  Months Code               Months  Element Code  \
0             2  Afghanistan         7001              January          7271
1             2  Afghanistan         7001              January          6078
2             2  Afghanistan         7002             February          7271
3             2  Afghanistan         7002             February          6078
4             2  Afghanistan         7003                March          7271
...         ...          ...          ...                  ...           ...
9651       5873         OECD         7018          Junï¿½Julï¿½Aug          6078
9652       5873         OECD         7019          Sepï¿½Octï¿½Nov          7271
9653       5873         OECD         7019          Sepï¿½Octï¿½Nov          6078
9654       5873         OECD         7020  Meteorological year          7271
9655       5873         OECD         7020  Meteorological year          6078

                 Element Unit  Y1961  Y1962  Y1963  ...  Y2010  Y2011  Y2012  \
0     Temperature change   ï¿½C  0.777  0.062  2.744  ...  3.601  1.179 -0.583
1     Standard Deviation   ï¿½C  1.950  1.950  1.950  ...  1.950  1.950  1.950
2     Temperature change   ï¿½C -1.743  2.465  3.919  ...  1.212  0.321 -3.201
3     Standard Deviation   ï¿½C  2.597  2.597  2.597  ...  2.597  2.597  2.597
4     Temperature change   ï¿½C  0.516  1.336  0.403  ...  3.390  0.748 -0.527
...                  ...  ...    ...    ...    ...  ...    ...    ...    ...
9651  Standard Deviation   ï¿½C  0.247  0.247  0.247  ...  0.247  0.247  0.247
9652  Temperature change   ï¿½C  0.036  0.461  0.665  ...  0.958  1.106  0.885
9653  Standard Deviation   ï¿½C  0.378  0.378  0.378  ...  0.378  0.378  0.378
9654  Temperature change   ï¿½C  0.165 -0.009  0.134  ...  1.246  0.805  1.274
9655  Standard Deviation   ï¿½C  0.260  0.260  0.260  ...  0.260  0.260  0.260

      Y2013  Y2014  Y2015  Y2016  Y2017  Y2018  Y2019
0     1.233  1.755  1.943  3.416  1.201  1.996  2.951
1     1.950  1.950  1.950  1.950  1.950  1.950  1.950
2     1.494 -3.187  2.699  2.251 -0.323  2.705  0.086
3     2.597  2.597  2.597  2.597  2.597  2.597  2.597
4     2.246 -0.076 -0.497  2.296  0.834  4.418  0.234
...     ...    ...    ...    ...    ...    ...    ...
9651  0.247  0.247  0.247  0.247  0.247  0.247  0.247
9652  1.041  0.999  1.670  1.535  1.194  0.581  1.233
9653  0.378  0.378  0.378  0.378  0.378  0.378  0.378
9654  0.991  0.811  1.282  1.850  1.349  1.088  1.297
9655  0.260  0.260  0.260  0.260  0.260  0.260  0.260

[9656 rows x 66 columns]